md-input-container.md-default-theme label,
md-input-container.md-default-theme .md-placeholder .md-text{
    color: white !important;
    border-color: white;
}

md-input-container.md-default-theme .md-input {
    color: white;
    border-color: white;
}

