<md-dialog style="min-width: 40%; min-height: 40%">
    <md-toolbar class="md-toolbar-tools" layout="row" layout-align="center center" flex>
                <h2>Add Sensor</h2>
    </md-toolbar>
    <md-dialog-content>
        <form name="addSensorForm" ng-submit="save()" md-theme="custom"  layout-fill>

                <md-input-container>
                        <label>Sensor name</label>
                        <input name="sensorName" ng-model="sensor.sensorName" required>
                        <div ng-messages="addSensorForm.sensorName.$error" ng-if='addSensorForm.sensorName.$touched'>
                            <div ng-message="required">Sensor Name is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                            <label>Sensor Type</label>
                            <input name="sensorType" ng-model="sensor.sensorType"  required>
                            <div ng-messages="addSensorForm.sensorType.$error" ng-if='addSensorForm.sensorType.$touched'>
                                <div ng-message="required">Sensor Type is required.</div>
                            </div>
                    </md-input-container>

                    <md-input-container>
                            <label>Serial Number</label>
                            <input name="sensorSerialNo" ng-model="sensor.sensorSerialNo" required>
                            <div ng-messages="addSensorForm.sensorSerialNo.$error" ng-if='addSensorForm.sensorSerialNo.$touched'>
                                <div ng-message="required">Serial No is required.</div>
                            </div>
                    </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button class="md-button md-primary">Save</md-button>
                </div>
        </form>
    </md-dialog-content>
</md-dialog>