<div>
    <md-data-table-toolbar>
        <h2 class="md-title">Available Sensors</h2>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange">
            <tr>
                <th>Sensor Name</th>
                <th>Sensor Type</th>
                <th>Serial Number</th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="sensor in sensors">
                <td>{{ sensor.sensorName }}</td>
                <td>{{ sensor.sensorType }}</td>
                <td>{{ sensor.sensorSerialNo }}</td>

            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <div layout="row" layout-align="center center" >
        <md-button class="md-primary md-raised" ng-click="deleteSensor()" ng-hide="viewMode">Delete Sensors</md-button>
    </div>
</div>